.RoseWoo_header_logo{
     margin: 2rem 0;
     font-family: 'Cinzel', serif;
}

.RoseWoo_header_button{
     margin-bottom: 2rem
}

.RoseWoo_footer_logo{
     margin: 1.5rem 0;
     font-family: 'Cinzel', serif;
}

.RoseWoo_footer_button{
     margin-top: 2rem;
}